#container {
    border: solid 2px black;
    border-radius: 8px;
    padding: 8px; 
    display: grid;
    width: 400px;
    height: 400px;
}

#pixel {
    background-color: aquamarine;
    text-align: center;
    border: solid 0.01rem rgba(0, 0, 0, 0.137);
    transition: 300ms;
}

.slidecontainer {
    display: flex;

}