#container {
    border: solid 2px black;
    border-radius: 8px;
    padding: 8px; 
    display: grid;
    max-width: fit-content;

}

.pixel {
    background-color: aquamarine;
    text-align: center;
    height: 16px; 
    width: 16px;
    border: solid 0.01rem rgba(0, 0, 0, 0.137);
}

.pixelChange {
    background-color: black;
}

.pixel:hover {
    background-color: black ;
}

